html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#gradient-scale {
  position: relative;
  width: 300px;
  height: 20px;
}


.color-sector {
    width: 10%;
    height: 100%;
    float: left;
}

.segment-label {
    position: absolute;
    bottom: -30px;
    font-size: 18px;
    text-align: center;
    width: 300px;
    display: flex;
}


/*
.color-sector {
  width: 10%;
  height: 100%;
  float: left;
}

.segment-label {
  position: absolute;
  bottom: -30px;
  font-size: 18px;
  text-align: center;
  width: 300px;
  display: flex;
}
*/